name: Deploy MKDocs Site

on:
  push:
    branches:
      - main
      - master
    paths:
      - 'docs/**'    # Trigger if files in docs/ change
      - 'mkdocs.yml' # Also trigger if mkdocs config changes

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install dependencies
        run: pip install mkdocs-material

      - name: Install MkDocs Plugins
        run: pip install mkdocs-git-revision-date-localized-plugin mkdocs-git-committers-plugin-2

      - name: Build site
        run: mkdocs build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./site

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
